ORACLE_DB_USER=APP_SPRING_BOOT
ORACLE_DB_PASSWORD=TuPasswordAqui123#

# Ruta absoluta al directorio donde descomprimiste el Wallet mTLS
# Windows: C:/wallet  o  C:/Users/TuUsuario/wallet
# Linux/macOS: /home/usuario/wallet  o  /Users/usuario/wallet
ORACLE_WALLET_PATH=C:/wallet

# Cadena de conexión JDBC
ORACLE_DB_URL=jdbc:oracle:thin:@communitylabdb_high?TNS_ADMIN=${ORACLE_WALLET_PATH}